{% extends 'base.html' %}
{% block content %}

    {% if Resume %}
      <ul>
        <h2 class="head">Experience</h2>
        {% for experience in resume_obj.get_experience %}
          <li>Title - {{Experience.title}}</li>
            <p>Location - {{Experience.location}}</p>
            <p>Start date - {{Experience.start_date}}</p>
            <p>End date - {{Experience.end_date}}</p>
            <p>Description - {{Experience.description}}</p>
        {% endfor %}
      </ul>
      <ul>
        <h2 class="head">Education</h2>
        {% for education in resume_obj.get_education %}
          <li>{{Education.instituition_name}}</li>
            <p>Location - {{Education.location}}</p>
            <p>Degree - {{Education.degree}}</p>
            <p>Major - {{Education.major}}</p>
            <p>GPA - {{Education.gpa}}</p>
        {% endfor %}
      </ul>
    {% endif %}


{% endblock %}
