{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <a href = "{% url 'home' %}"><button>Home</button></a> |
      <a href = "{% url 'resume:experience' %}"><button>Experience</button></a> |
      <a href = "{% url 'resume:education' %}"><button>Education</button></a>
      <a href = "{% url 'contact' %}"><button>Contact</button></a>
    </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>
