
{% extends "base.html" %}

{% block content %}
    <div class = 'homepage-content'>
      <div class = 'homepage-banner'>
        <h1>{{our_greeting | title }}</h1>
        <hr>
        <h4>About Aashirya</h4>
        <p>Personable young professional pursuing undergraduate degree in Computer Science at University of New Hampshire, Manchester.
           I am a self- driven and a quick nimble learner who likes to learn new and better ways to solve complex problems.</p>
  <!--  <a class = 'button' href="">Getting Started</a> -->
      </div>
    </div>
{% endblock %}
